/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Rubik&display=swap');
/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: khaki;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
    font-size: 60px;
}
span {
  font-size: 100px;
  padding: 10px;
}
.btn {
  background: none;
  outline: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}